.grid {
    text-align: center;
    margin: 1rem;
}

#path-buttons {
    padding: 2rem;
    align-content: center;
    text-align: center;
}

#path-buttons button {
    padding: 1rem;
    background-color: #ff79c6;
    color: #f8f8f2;
    border-radius: 10px;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    border: none;
}

#path-buttons button:disabled {
    background-color: #64656E;
}